
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-rabbit-dark;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  body {
    @apply bg-rabbit-dark text-gray-100;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
