@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-rabbit-dark;
  }

  body {
    @apply bg-rabbit-dark text-gray-100;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
